---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';

const posts = (await getCollection('blog')).filter(
	(post) => !post.id.startsWith('setsuzokuya/') && !post.id.startsWith('one-year-skeptic/') && !post.id.startsWith('thing-with-a-thing/')
).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			main {
				width: 720px;
				max-width: calc(100% - 2em);
				margin: auto;
				padding: 3em 1em;
			}
			ul {
				list-style-type: none;
				padding: 0;
			}
			ul li {
				margin-bottom: 3em;
				border-bottom: 1px solid #eee;
				padding-bottom: 2em;
			}
			ul li:last-child {
				border-bottom: none;
			}
			.title {
				font-size: 1.8em;
				margin: 0 0 0.2em 0;
				font-family: 'Noto Sans', sans-serif;
				font-weight: 700;
			}
			.title a {
				color: #111;
				text-decoration: none;
			}
			.title a:hover {
				color: #000;
			}
			.meta {
				font-size: 0.9em;
				color: #666;
				margin-bottom: 1em;
			}
			.description {
				font-family: 'Noto Serif', serif;
				color: #333;
				line-height: 1.7;
			}
            .sub-blogs {
                display: flex;
                gap: 1em;
                margin-bottom: 2em;
                justify-content: center;
            }
            .sub-blogs li {
                border-bottom: none;
                margin-bottom: 0;
                padding-bottom: 0;
            }
		</style>
	</head>
	<body>
		<Header />
		<main>
			<section>
                <ul class="sub-blogs">
                    <li><a href={import.meta.env.BASE_URL.replace(/\/?$/, '/') + 'blog/setsuzokuya'}>Setsuzokuya</a></li>
                    <li><a href={import.meta.env.BASE_URL.replace(/\/?$/, '/') + 'blog/one-year-skeptic'}>One Year Skeptic</a></li>
                    <li><a href={import.meta.env.BASE_URL.replace(/\/?$/, '/') + 'blog/thing-with-a-thing'}>Thing with a Thing</a></li>
                </ul>
                <hr style="margin-bottom: 2em;" />
				<ul>
					{
						posts.map((post) => (
							<li>
								<h2 class="title">
									<a href={`${import.meta.env.BASE_URL.replace(/\/?$/, '/')}blog/${post.id}/`}>{post.data.title}</a>
								</h2>
								<div class="meta">
									Posted on <FormattedDate date={post.data.pubDate} /> by ErikaRS
								</div>
								<p class="description">
									{post.data.description}
								</p>
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
